<h1>Rider Dashboard</h1>

<% if current_user.has_active_rides? %>
  <h2>Current Ride Request</h2>
  <%#= binding.pry %>
  <%= render partial: 'rides/active_ride', locals: {ride: current_user.current_ride} %>
  <% if current_user.current_ride.has_driver? %>
    <%= render partial: 'rides/driver_info', locals: {ride: current_user.current_ride} %>
  <% end %>
<% else %>
  <%= link_to "Request a Ride", new_ride_path %>
<% end %>
